# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\LearningDocument\Kì 20202\Quy hoạch và quản lý mạng viễn thông\btlTCQHNew\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
